h1{
    color: white;
    background-color: blue;
    text-align: center;

}

table,
th,
td{
    border: 2px solid blue;
     border-collapse:collapse ;
     margin:50px;
     padding: 50px;
     font-size: 40px;
}
th{
    background-color: rgb(230, 203, 173);
    color: rgb(128, 128, 128);

}
td{
    background-color: lightskyblue;
    color: brown;
}