/*
h1{
    color: royalblue;
    background-color: aqua;
    text-align: center;
}*/
.class1{
    color: red;
    background-color: blueviolet;
    text-align: center;
}
.class2{
    color: green;
    background-color: rgb(173, 230, 195);
    text-align: center;
}
#id1{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin: 0 200px 0 200px;
    font-size: large;
}
button{
    background-color: black;
    color: white;
    text-align: center;
    font-size:large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
}